<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= env.conf.metadata.title ?><?js= ( title ? (" · " + title) : "" ) ?></title>
    <?js if (env.conf.opts.hasOwnProperty('prism-theme')) { ?>
      <link type="text/css" rel="stylesheet" href="styles/vendor/<?js= env.conf.opts['prism-theme'] ?>.css">
    <?js } else { ?>
      <link type="text/css" rel="stylesheet" href="styles/vendor/prism-tomorrow-night.css">
    <?js } ?>
    <link type="text/css" rel="stylesheet" href="styles/styles.css">
    <?js if (env.conf.hasOwnProperty('styles')) { ?>
    <?js var styles = env.conf.styles; ?>
    <style>
      :root {
      <?js for (var key in styles) { ?>
      <?js if (styles.hasOwnProperty(key)) { ?>
        --<?js= key + ': ' + styles[key] ?>;
      <?js } } ?>
      }
    </style>
    <?js } ?>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>

<header class="layout-header">
  <?js if (env.conf.metadata.logo) { ?>
    <a href="./">
      <img
        src="<?js= env.conf.metadata.logo ?>" width="48"
        alt="<?js= env.conf.metadata.title ?>"
      >
    </a>
  <?js } ?>
  <h1>
    <a href="./index.html">
      <?js= env.conf.metadata.title ?>
    </a>
  </h1>
  <nav class="layout-nav">
    <?js= this.nav ?>
  </nav>
</header>


<main class="layout-main <?js if (kind === 'source') { ?> layout-content--source<?js } ?>">
  <div class="container">
    <p class="page-kind"><?js= kind ?></p>
    <h1 class="page-title"><?js= title ?></h1>
    <?js= content ?>
  </div>
</main>

<!-- LCamara8 -->
<?js if( env?.conf?.templates?.default?.LCamara8_Footer ) { ?>
  <footer class="layout-footer">
    <div class="container">
        Copyright &copy; 2026 Luis Mar&iacute;a C&Aacute;MARA ROSSI.<br />
        Trademark &trade; Copyright &copy; 2026 Universidad Nacional de Educaci&oacute;n a Distancia (U.N.E.D.).<br />
        The <strong><code>JM2MP</code></strong> format and this library <strong><code>JM2MP.JS</code></strong> are licensed under <code>BSD-3-Clause</code>
        <sup>
          <a target="BSD1" href="https://opensource.org/license/bsd-3-clause">[1]</a>
          <a target="BSD2" href="https://spdx.org/licenses/BSD-3-Clause.html">[2]</a>
        </sup> license.
        <br />
        See <a href="./LICENSE.txt" target="LICENSE">LICENSE.txt</a> for more info.
    </div>
    <br />
    <div class="container">
      Documentation generated using <a href="https://jsdoc.app/" target="JSDoc">JSDoc <?js= env.version.number ?></a>
      and <a href="https://www.npmjs.com/package/tidy-jsdoc" target="Tidy-JSDoc">tidy-jsdoc 1.4.1</a>
      <?js if(env.conf.templates && env.conf.templates.default && (env.conf.templates.default.includeDate !== false)) { ?> on <?js= new Date().toISOString() ?><?js } ?>
    </div>
  </footer>
<?js } else { ?>
<!-- Original -->
<footer class="layout-footer">
  <div class="container">
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
  </div>
</footer>
<?js } ?>

<script src="scripts/prism.dev.js"></script>
</body>
</html>
