<?js /*
    Copyright 2011 the JSDoc Authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/ ?>
<!-- https://github.com/jsdoc/jsdoc/blob/main/packages/jsdoc-template-legacy/tmpl/layout.tmpl -->
<?js const now = new Date() ; ?>
<!DOCTYPE html>
<html lang="en" version="5">
  <head>
    <meta charset="utf-8">
    <title>JM2MP.JS v1.0.0 · <?js= title ?> (JSDoc)</title>
    <script src="./scripts/prettify/prettify.js"></script>
    <script src="./scripts/prettify/lang-css.js"></script>
    <link type="text/css" rel="stylesheet" href="./styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="./styles/prettify-jsdoc.css">
    <link type="text/css" rel="stylesheet" href="./styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="./styles/jm2mp-jsdoc.css">
  </head>
  <body>
  <nav>
    <?js= this.nav ?>
  </nav>
  <main id="main">
    <h1 class="page-title"><?js= title ?></h1>
    <?js= content ?>
  </main>
  <br class="clear">
  <footer>
    <p>
        Copyright &copy; 2026 Luis Maria CAMARA ROSSI.<br />
        Trademark &trade; Copyright &copy; 2026 Universidad Nacional de Educación a Distancia (U.N.E.D.).<br />
        The <strong><code>JM2MP</code></strong> format and this library <strong><code>JM2MP.JS</code></strong> are licensed based on <code>BSD-3-Clause</code>
        <sup>
          <a target="_blank" href="https://opensource.org/license/bsd-3-clause">[1]</a>
          <a target="_blank" href="https://spdx.org/licenses/BSD-3-Clause.html">[2]</a>
        </sup> license.
        See <a href="./LICENSE.txt" target="LICENSE">LICENSE.txt</a> for more info.
    </p>
    <p>
      Documentation generated by <a href="https://jsdoc.app/">JSDoc <?js= env.version.number ?></a>
      <?js if(env.conf.templates && env.conf.templates.default && (env.conf.templates.default.includeDate !== false)) { ?> on <?js= now ?><?js } ?>
    </p>
  </footer>
  <script> prettyPrint(); </script>
  <script src="./scripts/linenumber.js"> </script>
</body>
</html>
